@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Sora', sans-serif;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #222530; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #5A5F7A; }
